*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.montserrat-mainfont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.raleway-thirdfont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.playfair-display-formalfont {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f5ebe0;
    color: #4a3d37;
    line-height: 1.6;
    padding: 20px;
}
h1, h2, h3{
    color: #4a3d37;
}
h1{
    font-size: 56px;
    margin-top: 160px;
    margin-bottom: 16px;
    text-align: center;
    font-family: "Playfair Display";
    font-weight: bolder;
    margin-left: 32px;
    margin-right: 32px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 5px 4px ;
    padding-left: 80px;
    padding-right: 80px;
}
h2{
    background-color: #302a28;
    font-size: 32px;
    font-family: "Playfair Display";
    color: #f5ebe0;
    text-align: center;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px ;
    padding-top: 4px;
    padding-bottom: 4px;
}
.service-container{
    margin-top: 160px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f5ebe0;
    border-radius: 4px;
    box-shadow: rgb(0, 0, 0, 0.15) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.1) -3px -3px 6px 1px inset;
}
.service-container ul{
    margin-left: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 32px;
    list-style:disc ;
    font-family: "Montserrat";
    font-weight: 500;
}

p{
    margin-bottom: 10px;
    font-family: "Raleway";
    text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px ;
    text-align: center;
    color: #997b66;
    font-size: 14px;
}
a{
    color: #3498db;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #191724;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.button{
    display: inline-block;
    padding: 10px 20px;
    background: #3498db;
    color: #e0def4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.button:hover{
    background: #2980b9;
}

.navbar{
    position: sticky;
    top: 10px;
    z-index: 1000;
    background: #302a28;
    color: #ede0d4;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 4px;
}
.navbar ul svg{
    width: 22px;
    height: 22px;
    padding-top: 6px;
    margin-left: 8px;
    fill: #ede0d4;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    font-family: "Montserrat";
    font-size: 18px;
    text-align: right;
    font-weight: 450;
}
.navbar a{
    color: #ede0d4;
    padding-right: 24px;
    padding-left: 24px;
}

.footer{
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
